body {
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 3%;
}

.header_left {
    font-size: x-large;
}

.header_right {
    display: flex;
}

nav {
    width: 30%;
}

.header_list {
    padding-left: 7%;
}

.list_link {
    text-decoration: none;
}

main {
    background-color: #eeeeee;
}

.user {
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
}

.box {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5% 12%;
    margin: 1% 2% 1% 0;
    font-weight: bold;
    border: none;
    font-size: large;
}

footer {
    text-align: center;
    font-size: small;
    margin: 1% 0;
}

.form_container {
    padding-bottom: 100px;
    background-color: #eeeeee;
}

table {
    margin: auto;
}

td {
    text-align: center;
}

.form_box {
    background-color: #eeeeee;
    width: 100%;
    margin: 10px 0;
    border-radius: 3px;
}

.bn_add {
    background-color: #0000ff;
    color: #ffffff;
    width: 100%;
    border-radius: 3px;
    margin: 10px 0;
}

.login {
    padding: 10px 0;
}

.login_link {
    text-decoration: none;
}

.bn_date {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.bn_switch {
    border: 1px solid #0000ff;
    background-color: #ffffff;
    margin: 0 10px;
}

.login_table {
    padding: 0 0;
}

.attend_table th {
    padding: 20px 40px;
}

.attend_table td {
    padding: 20px 40px;
}

.attend_tr {
    border-top: 1px solid #808080;
}

.pagination {
    text-align: center;
}

.pagination li {
    display: inline-block;
    color: #0000ff;
    background-color: #ffffff;
    padding: 10px;
}

.pagination li:hover {
    color: #ffffff;
    background-color: #0000ff;
    cursor: pointer;
}

.paginate {
    display: flex;
    justify-content: center;
}
